[buildout]
develop = .
extensions = mr.developer
extra-paths =
parts =
    scripts

eggs =
    pyramid_oauthprovider

auto-checkout = oauthlib

[sources]
oauthlib = git https://github.com/idan/oauthlib.git

# it creates appropriate entry_point scripts as defined in eggs setup.py
[scripts]
recipe = zc.recipe.egg
extra-paths = ${buildout:extra-paths}
eggs =
     ${buildout:eggs}

dependent-scripts = true
interpreter = python
